@charset "UTF-8";
html{
    margin: 0;
    padding: 0;
}
body{
    margin: 0;
    padding: 0;
    font-weight: lighter;
    font-family: YuGothic, 游ゴシック, roboto,
                "Hiragino Kaku Gothic ProN", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic Pro",
                "ヒラギノ角ゴ Pro W3", "Noto Sans Japanese", sans-serif;
}
header{
    background: #fefefe;
    color: #3ecec7;
}
header p{
    font-size: 25px;
    margin: 0;
    padding: 15px 30px;
    letter-spacing: 2px;
}
.wrapper{
    background-image: url("radu-florin-648487-unsplash.jpg");
    height: 700px;
    width: 100%;
    position: relative;
    background-attachment: fixed;
    background-size: cover;
    display: block;
    object-fit: cover;
}
.wrapper .container{
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 700px;
}
.wrapper .container h1{
    margin: 0;
    color: #fefefe;
    letter-spacing: 2px;
    font-size: 40px;
    position: relative;
    top: 40%;
    text-align: center;
}
footer{
    background: #f7f7f7;
    text-align: center;
    color: #999999;
    padding: 15px;
    letter-spacing: 2px;
}